body{
margin:0;
font-family:Inter,sans-serif;
background:#0a0a0a;
color:white;
}

.navbar{
position:sticky;
top:0;
background:#000;
display:flex;
justify-content:center;
gap:40px;
padding:20px;
border-bottom:1px solid #222;
z-index:100;
}

.navbar button{
background:none;
border:none;
color:white;
font-size:16px;
cursor:pointer;
}

.navbar button:hover{
color:#00ff88;
}

.section{
display:none;
max-width:1100px;
margin:auto;
padding:40px 20px;
}

.section.active{
display:block;
}

.topbar{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:10px;
margin-bottom:30px;
}

input, textarea{
padding:10px;
border-radius:8px;
border:none;
width:60%;
}

textarea{
width:100%;
height:100px;
}

.admin-btn{
background:#00ff88;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

.card{
background:#111;
padding:20px;
border-radius:16px;
margin-bottom:25px;
}

.images{
display:flex;
gap:10px;
margin:15px 0;
}

.images img{
width:50%;
border-radius:12px;
}

.product-img{
width:100%;
border-radius:12px;
margin-bottom:15px;
}

.copy-btn{
background:#222;
border:none;
color:#00ff88;
padding:8px 12px;
border-radius:8px;
cursor:pointer;
}

.delete-btn{
background:red;
border:none;
padding:6px 10px;
border-radius:6px;
cursor:pointer;
color:white;
font-size:12px;
margin-top:10px;
}

@media(max-width:768px){
.images{
flex-direction:column;
}
.images img{
width:100%;
}
input{
width:100%;
}
}
